*{
    box-sizing: border-box;
    margin: 0 auto;
}

body{
    width: 1160px;
}

header, main{
    display: grid;
    grid-template-columns: 2fr 5fr;
}

header{
    height: 200px;
    grid-template-rows: 200px;
    justify-items: center ;
    align-items: center;
}

div, .address_content, address, dl, dd, .trainings-experiences, footer, footer div{
    display: flex;
}

div, footer{
    flex-direction: column;
}

dl, dd, .trainings-experiences, footer div{
    flex-direction: row;
}

div, footer{
    justify-content: center;
}

header img{
    height: 60%;
    border-radius: 50%;
    border: solid 5px #ffffff;
}

body{
    background-color: #f5f5f5;
}

header strong{
    margin: 10px;
}

header strong, h2{
    margin-bottom: 20px;
}

.address_content, address{
    justify-content: flex-start;
}

.address_content a, .address_content p{
    font-size: 0.85em;
}

address{
    width: 240px;
}

div img{
    width: 20%;
    border-radius: initial;
    border: initial;
    margin-right: 2px;
    margin-left: 0;
}

header, footer, address, a, address img{
    color: #ffffff;
}

header, footer, address, a{
    background-color: #17abb3;
}

main{
    color: #333333;
}

h2{
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(51, 51, 51, 10%) ;
}

article, aside{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

article{
    background-color: #ffffff;
}

aside{
    background-color: #e3e3e3;
}

dt{
    width: 30%;
}

dd{
    width: 70%;
    margin-bottom: 15px;
}

dd{
    justify-content: flex-end;
}

.trainings-experiences, dl, address{
    flex-wrap: wrap;
}

.trainings-experiences__date, .trainings-experiences__title, .address_content{
    width: 50%;
}

.trainings-experiences__location{
    width: 100%;
    padding-bottom: 20px;
}

.trainings-experiences__title{
    align-self: start;
}

h2, .training-experiences__date, ul li::marker{
    color: #17abb3;
}

.trainings-experiences__date{
    text-align: right;
}

.trainings-experiences__location, .address_content a, .address_content p{
    margin: 0;
}

.stars{
    width: 8%;
    margin: 1px;
}

ul{
    list-style: square;
    padding-left: 18px;
}

footer{
    height: 80px;
}

footer div{
    justify-content: space-around;
}

footer div a{
    width: 15px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

footer img{
    width: 150%;
}